<div class="outer_main_container">
    <div class="onboarding onboardingone">
      <div class="container">
        <div class="centerdiv">
          <div class="img_container">
            <img class="img_logo" src="assets/images/designwaylogo.svg" />
          </div>
          <div class="batch_container">
            
            <h2 class="main_title">Reset Password</h2>
            <div class="desc">Your debit/credit card will be used to debit subscription fees and commissions on ticket sales</div>
            <form class="card_details"  #f="ngForm">
                
                  <div class="div_control">
                      <div class="the_title">
                        Password
                      </div>
                      <div class="fields form_full">
                        <span>
                          <input type="password" class="form_input" name="password" ngModel required />
                        </span>
                      </div>
                    </div>
                    <div class="div_control">
                        <div class="the_title">
                          Confirm Password
                        </div>
                        <div class="fields form_full">
                          <span>
                            <input type="confirmPassword" class="form_input" name="confirmPassword" ngModel required />
                          </span>
                        </div>
                      </div>
                  <button type="submit"  [disabled]="f.form.invalid" class="btn btn_custom">Let’s do this</button>
                    
                </form>
          </div>
        </div>
      </div>
    </div>

  </div>
