<div class="ticket_sales" *ngIf="state==1">
  <div class="t_title">Buy tickets</div>

    <div class="buy_ticket_table">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr class="ticket-item" [ngClass]="{'active':ticket === activeTicket.ticket}" (click)="activeTicket.ticket=ticket" *ngFor="let ticket of tickets;let i = $index">
              <td class="name">{{ticket.ticket_name}}</td>
              <td class="status">On sale</td>
              <td class="price">{{ticket.ticket_price}}</td>
              <td class="qty text-center">
                <mat-select [(ngModel)]="ticket.selectedQuantity" (change)="prePurchase()" name="quantity" [disabled]="ticket !== activeTicket.ticket">
                  <mat-option *ngFor="let m of quantity" [value]="m">
                    {{ m }}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr class="last">
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="first">
              <td colspan="2">Sub total</td>
              <td colspan="2" class="text-right">{{subTotal}}</td>
            </tr>
            <tr>
              <td colspan="2">Fees</td>
              <td colspan="2" class="text-right">{{fees}}</td>
            </tr>
            <tr class="last">
              <td colspan="2">Total</td>
              <td colspan="2" class="total_amt text-right">{{subTotal+fees}}</td>
            </tr>
            <tr class="button_container">
              <td colspan="2" >
                <div *ngFor="let p of purchase" >
                    {{p.selectedQuantity}}x {{p.ticket_name}}
                </div>
              </td>
              <td colspan="2" class="text-right btn_td"><button class="btn btn_custom" [disabled]="purchase.length===0" (click)="state=2">Buy Tickets</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div class="the_para">
      <div class="t_title">Biographies</div>
      <div class="descr">You Propably wouldnt recognise Joel Zimmerman in the street but there's no doubt you would recognize the giant mouse head that's come to represent Zimmerman's alter ego Deadmau5. Boran in Ontaria, Canada a..
        <div class="a_tag_container"><a href="#">Read more</a></div>
      </div>
    </div> -->

    <div class="the_para">
      <div class="t_title">Venue</div>
      {{venue && venue.venue_name}}
      <!-- <div class="descr">Mahiki is a London nightclub in Dover Street, near the Ritz Hotel, well known for its celebrity clientele. It is named after the Polynesian path to the underworld. Mahiki was opened in October 2006 by Piers Adam and Nick House</div> -->

      <div class="descrip">{{venue && venue.venue_desc}}</div>

      <div class="descr">
          {{venue && venue.venue_address}}
      </div>
    </div>

</div>

<div class="ticket_sales" *ngIf="state==2">
  <div class="t_title t_bottom">
    <div class="caps">Step One - Your Tickets</div>
    <img src="assets/images/success.svg" />
  </div>

    <div class="your_tickets_table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="wid_60">Ticket Type</th>
              <th class="text-right wid_20">Amt.</th>
              <th class="text-right wid_20">Price</th>
            <tr>
          </thead>
          <tbody>
            <tr *ngFor="let tick of purchase">
              <td>{{tick.ticket_name}}</td>
              <td class="text-right">{{tick.selectedQuantity}}</td>
              <td class="text-right">{{tick.ticket_price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="t_title t_bottom">
      <div class="caps">Step Two - Payment Methods</div>
      <img src="assets/images/success.svg" />
    </div>

    <div class="card_details_container">

      <div class="row">

        <div class="col-sm-6">
          <div class="the_card">
            <div class="name_card_flex">
              <div class="image_container">
                <img src="assets/images/visa.svg" />
              </div>
              <div class="button_ellipsis">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </div>
            </div>

            <div class="card_number">
              XXXX XXXX XXXX 1234
            </div>

            <div class="card_expiry">
              <span class="ex_text">Expires</span>
              <span class="ex_date">12 / 2020</span>
            </div>
            <div class="hover_icon">
              <img src="assets/images/success.svg" />
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="add_card no_bottom_mar" data-toggle="modal" data-target="#addCardModal">
            <div class="add_text">
              <img src="assets/images/plus.svg" />
              <span class="span_text">Add another card</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="terms_div">
      <div class="row">
        <div class="col-sm-7">
          <div class="the_terms_text">
            I accept the <a href="#">terms & services</a> and have read the <a href="#">privacy policy.</a> I agree that EventBrite might <a href="#">share my information</a> with the event organiser.
          </div>
        </div>
        <div class="col-sm-5">
          <div class="the_btn_div">
            <button class="btn btn-custom" (click)="thePurchase()">Buy now</button>
            <div class="pay_icons">
              <img src="assets/images/visa.svg" />
              <img src="assets/images/visa.svg" />
              <img src="assets/images/mastercard.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
