<div class="center_state_div">
  <div class="container">
    <div class="main_title_container">
      <h1 class="the_title_left no_bottom_margin">Order management</h1>
      <a href="#" class="btn btn_custom_acsetting adjust_margin_next_step"   data-toggle="modal" data-target="#sendmessageModal">Message attendees</a>
    </div>

      <div class="bread_crumbs">
        <ul class="clearfix">
          <li>Events</li>
          <li>Wolfpack Wednesdays</li>
          <li>Order management</li>
        </ul>
      </div> 
      
      <div class="order_management_table">
        <div class="management_top">
          <div class="row">
            <div class="col-sm-6">
              <div class="form">
                <div class="manage_form_inputs">
                  <div class="fields">
                    <div class="div_control">
                      <div class="the_title">
                        Date range
                      </div>
                      <div class="fields form_full">
                        <span class="date_cal"><input type="text" class="form_input"></span>
                      </div>
                    </div><!--
                    --><div class="div_control">
                      <div class="the_title">
                        Ticket types
                      </div>
                      <ngx-select-dropdown class="drop" [options]="ticktType" [(value)]="filterText"></ngx-select-dropdown>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="search_form">
                <div class="fields">
                  <div class="div_control">
                    <div class="the_title">
                      Search
                    </div>
                    <div class="fields">
                      <span class="search_icon"><input type="text" class="form_input" placeholder="Search" [(ngModel)]="filterText2"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="management_bottom">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>TICKET CODE</th>
                  <th>TICKET TYPE</th>
                  <th>ATTENDEE NAME</th>
                  <th>TICKET QTY.</th>
                  <th>AMOUNT</th>
                </tr>
              </thead>
              <tbody>
                <!-- <ng-template *ngFor="let name of bookUser"> -->

                  <tr data-toggle="modal" *ngFor="let booking of bookings | filter: filterText | filter: filterText2" (click)="openModalWithComponent(booking)">
                    <td>{{booking.bookingInfo.date}}</td>
                    <td>{{booking.bookingInfo.bookingid}}</td>
                    <td *ngIf="booking.bookingInfo.ticket_type; else general">{{booking.bookingInfo.ticket_type}}</td>
                    <ng-template #general>
                      <td>N/A</td>
                    </ng-template>
                    <td>{{ booking.bookingInfo.user }}</td>
                    <td>{{booking && booking.bookingInfo && (booking.bookingInfo.tickets[0].quantity)}}</td>
                    <td *ngIf="booking.bookingInfo.ticket_price; else zero">$ {{booking.bookingInfo.ticket_price}} </td>
                     <ng-template #zero>  <td>N/A</td>
                    </ng-template>
                  </tr>
                <!-- </ng-template> -->
                 
              </tbody>
            </table>
            <!-- <app-order-dialog model="orderDialog"></app-order-dialog> -->
            </div>
        </div>

      </div>

  </div>

</div>

<!--  -->