.modal {
    display: block;
}

.overlay-here {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.table-responsive {
    padding-left: 19px;
    padding-right: 19px;
}

:host :ng-deep .mat-tab-label {
    color: #2886ff
}

::ng-deep .mat-ink-bar {
    background-color: var(--primary-color, #2886ff) !important;
    width: 100px;
    top: 35px;
}

.pad {
    padding: 24px;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
    background-color: #fff;
}

td {
    font-weight: 350;
}

.drop button {
    height: 39px;
    width: 17em;
    background: #ffffff08;
    border: 1px solid #c5cbd3;
}

::ng-deep .ngx-dorpdown-container .ngx-dropdown-button {
    min-height: 39px !important;
}

::ng-deep .ngx-dorpdown-container ul.selected-items li {
    background-color: #2886ff;
    color: white;
    margin-bottom: 2px;
    border-radius: 3px;
    padding: 8px !important;
    margin-top: 16px !important;
}