<div class="single_contain">
                          
  <div class="the_first">
    <img src="/assets/images/barclays.png" />
  </div>
 
  <div class="the_second">
    <div class="ac_number">
     {{bank.number}}
    </div>
  </div>
  
  <div class="the_third">
      <mat-form-field class="mat-set">
          <mat-select [ngModel]="selectedCard" (ngModelChange)="onSelectedObjChanged($event)"  class="no-carret-sel">
            <mat-option *ngFor="let cardOption of cardOptions" [value]="cardOption.value">
                {{ cardOption.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
  </div>
 
</div>