.mat-snack-bar-handset .mat-snack-bar-container {
    margin: 0;
    max-width: inherit;
    width: 100%;
    background: red !important;
}

.login-logo {
    width: 40% !important;
}

.login-container{
    margin-bottom: 35px !important;
}