
<div class="row">
  <div style="display: flex; justify-content: center">
    <h4>{{question}}</h4>
  </div>
</div>
<div class="row">
  <div style="display: flex; justify-content: center; margin-top: 20px">
    <div style="width: 50%; padding-left: 8px; padding-right: 8px">
      <button type="submit" class="btn btn_custom_add adjust_margin" (click)="close(true)">Yes</button>
    </div>
    <div style="width: 50%;  padding-left: 8px; padding-right: 8px">
      <button type="submit" class="btn btn_custom_add adjust_margin" (click)="close(false)" >No</button>
    </div>
  </div>
</div>
