<div
[ngClass]="{
  'bg_color_grey':loginPathHide === true,
  'loginBody': loginPathHide === false
}"
>
<div *ngIf="superAdminHeader" >
    <header *ngIf="loginPathHide">
      <nav class="navbar navbar-custom">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="mobileToggle()">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >
              <img src="/assets/images/designwayblue.svg" />
            </a>
          </div>
          <div class=" navbar-collapse" id="myNavbar" [ngClass]="{'collapse':menueMobile === false}">
            <ul class="nav navbar-nav navbar-left">
              <li [routerLink]="['superadmin']" routerLinkActive="active">
                <a  (click)="toggleMenu(true); mobileToggle(true)">DASHBOARD</a>
              </li>
              <li [routerLink]="['superadmin','subscription']" routerLinkActive="active">
                <a  (click)="toggleMenu(true); mobileToggle(true)">SUBSCRIPTION</a>
              </li>
              <li class="visible-xs">
                <a (click)="logout()">LOGOUT</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a (click)="toggleMenu()"  class="hidden-xs menu-link">
                  <span class="logo_right">
                    <img class="logo" src="/assets/images/designwayblue.svg" />
                  </span>
                  <span class="rightmenutext">Designway</span>
    
                </a>
                <div class="menu-drop hidden-xs" [ngClass]="{'hidden':menu === false}">
                  <div class="menu-drop-item" [routerLink]="['profile']" (click)="toggleMenu(true); mobileToggle(true)">Profile</div>
                  <div class="menu-drop-item" (click)="logout()">Logout</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
</div>
<div *ngIf="!superAdminHeader">
  <header *ngIf="loginPathHide">
    <nav class="navbar navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" (click)="mobileToggle()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img src="/assets/images/designwayblue.svg" />
          </a>
        </div>
        <div class=" navbar-collapse" id="myNavbar" [ngClass]="{'collapse':menueMobile === false}">
          <ul class="nav navbar-nav navbar-left">
            <li [routerLink]="['profile']" routerLinkActive="active">
              <a (click)="toggleMenu(true); mobileToggle(true)">DASHBOARD</a>
            </li>
            <li [routerLink]="['events']" routerLinkActive="active">
              <a (click)="toggleMenu(true); mobileToggle(true)">EVENTS</a>
            </li>
            <li [routerLink]="['orders']" routerLinkActive="active">
              <a (click)="toggleMenu(true); mobileToggle(true)">ORDERS</a>
            </li>
            <li [routerLink]="['venues']" routerLinkActive="active">
              <a (click)="toggleMenu(true); mobileToggle(true)">VENUES</a>
            </li>
            <li>
              <a (click)="toggleMenu(true); mobileToggle(true)">PAYMENTS</a>
            </li>
            <li class="visible-xs">
              <a [routerLink]="['profile']" (click)="toggleMenu(true); mobileToggle(true)">PROFILE</a>
            </li>
            <li class="visible-xs">
              <a (click)="logout()">LOGOUT</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a (click)="toggleMenu()" class="hidden-xs menu-link">
                <span class="logo_right">
                  <img class="logo" src="/assets/images/designwayblue.svg" />
                </span>
                <span class="rightmenutext">Designway</span>
  
              </a>
              <div class="menu-drop hidden-xs" [ngClass]="{'hidden':menu === false}">
                <div class="menu-drop-item" [routerLink]="['profile']" (click)="toggleMenu(true); mobileToggle(true)">Profile</div>
                <div class="menu-drop-item" (click)="logout()">Logout</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
  <div (click)="toggleMenu(true); mobileToggle(true)">
      <router-outlet ></router-outlet>    
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="copytext">
            2017 © All Rights reserved. App Inc.
          </div>
        </div>
        <div class="col-sm-6">
          <div class="socialicons">
            <div class="socialiconsinner">
              <span class="socio fb">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </span>
              <span class="socio twit">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              <span class="socio insta">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>