<div id="addCardModal"
     role="dialog"
     [ngClass]="{
        'modal':true,
        'fade':true,
        'in': shown === true,
        'hidden': !shown
      }"
      
      >

  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideCard()">
          <img src="/assets/images/close.svg" />
        </button>
        <h4 class="modal-title">Add a card</h4>
      </div>
      <form class="modal-body"  (ngSubmit)="submitted(modalf)" #modalf="ngForm">
        <div class="card_details_modal">
          <div class="card_details">

            <div class="div_control">
              <div class="the_title">
                Card number
              </div>
              <div class="fields">
                <span>
                  <input type="text" pattern="\d*" name ="number1" ngModel class="form_input" required minlength="4" maxlength="4">
                </span>
                <span>
                  <input type="text" pattern="\d*" name ="number2" ngModel class="form_input" required minlength="4" maxlength="4">
                </span>
                <span>
                  <input type="text" pattern="\d*" name ="number3" ngModel class="form_input" required minlength="4" maxlength="4">
                </span>
                <span>
                  <input type="text" pattern="\d*" name ="number4" ngModel class="form_input" required minlength="4" maxlength="4">
                </span>
              </div> 
            </div>

            <div class="div_control">
              <div class="the_title">
                CVV
              </div>
              <div class="fields">
                <span>
                  <input type="text" pattern="\d*" name ="cvv" ngModel class="form_input" required minlength="3" maxlength="3">
                </span>
              </div>
            </div> 

            <div class="div_control">
              <div class="the_title">
                Name on card
              </div>
              <div class="fields form_full">
                <span>
                  <input type="text" name ="name" ngModel class="form_input" required>
                </span>
              </div>
            </div>

            <div class="div_control">
              <div class="the_title">
                Expiry date
              </div>
              <div class="fields flexstart">
                <span class="arrow">
                  <mat-select placeholder="Month" required ngModel name="month" (click)="selectMonth(m.value)">
                    <mat-option *ngFor="let m of month" [value]="m.value">
                      {{ m.viewValue }}
                    </mat-option>
                  </mat-select>
                </span>
                <span class="arrow">
                  <mat-select placeholder="Year" required ngModel name="year" (click)="selectYear(y.value)" >
                    <mat-option *ngFor="let y of year" [value]="y.value">
                      {{ y.viewValue }}
                    </mat-option>
                  </mat-select>
                </span>
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn_custom_add" [disabled]="modalf.form.invalid" (click) ="addcard()">Add card</button>
        </div>
      </form>
    </div>

  </div>
  <div class="overlay" (click)="hideCard()"></div>
</div>