<div class="the_card">
  <div class="name_card_flex">
    <div class="image_container">
      <img src="/assets/images/visa.svg" />
    </div>
    <div class="button_ellipsis">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>

  <div class="card_number">
    {{card.number}}
  </div>

  <div class="card_expiry">
    <span class="ex_text">Expires</span>
    <span class="ex_date">{{card.month}} / {{card.year}}</span>
  </div>
  <div class="hover_icon">
    <img src="/assets/images/success.svg" />
  </div>
</div>