<div class="center_state_div">
  <div class="container">
    <div class="main_title_container">
      <h1 class="the_title_left no_bottom_margin">Venues</h1>
      <a href="#" class="btn btn_custom_acsetting adjust_margin_next_step" data-toggle="modal" data-target="#addVenueModal">Add venue</a>
    </div>

    <div class="venue_div_main">

      <div class="the_venue_flex">

        <div class="map_div" id="map_location"></div>

        <div class="venues_list">

          <div class="the_venue">
            <div class="sub_sec">
              <div class="location_event">
                <span class="main">Mahiki</span>
                <div class="button_ellipsis">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/location_grey.svg" />
                <span>1 Dover St, Mayfair, London W1S 4LD, UK</span>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/telephone.svg" />
                <span>+44 207 493 9529</span>
              </div>
            </div>
          </div>

          <div class="the_venue">
            <div class="sub_sec">
              <div class="location_event">
                <span class="main">Ministry of Sound</span>
                <div class="button_ellipsis">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/location_grey.svg" />
                <span>103 Gaunt St, London SE1 6DP, UK</span>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/telephone.svg" />
                <span>+44 207 740 8600</span>
              </div>
            </div>
          </div>

          <div class="the_venue">
            <div class="sub_sec">
              <div class="location_event">
                <span class="main">Corsica Studios</span>
                <div class="button_ellipsis">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/location_grey.svg" />
                <span>4/5 Elephant Rd, London SE17 1LB, UK</span>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/telephone.svg" />
                <span>+44 207 703 4760</span>
              </div>
            </div>
          </div>

          <div class="the_last_add">
            <div class="text_last_div">
              Looks like you havn’t added many places
            </div>
            <a class="the_tag" data-toggle="modal" data-target="#addVenueModal">
              <img src="/assets/images/plus.svg">
              <span>Add a venue</span>
            </a>
          </div>

        </div>

      </div>

    </div>


  </div>
</div>
