<div class="center_state_div">
  <div class="container">
    <div class="main_title_container">
      <h1 class="the_title_left no_bottom_margin">Venues</h1>
      <a  class="btn btn_custom_acsetting adjust_margin_next_step" 
          data-toggle="modal" 
          (click)="showModal()"
          >Add venue</a>
    </div>

    <div class="venue_div_main">

      <div class="the_venue_flex">

        <div class="map_div" id="map_location">
          <agm-map [latitude]="map.lat" [longitude]="map.lng">
            <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
        </agm-map>
        </div>

        <div class="venues_list">

          <div class="the_venue" *ngFor="let venue of venues"
               [ngClass]="{'active-venue': venue._id === activeVenue._id}"
               (click)="selectVenue(venue)">
            <div class="sub_sec">
              <div class="location_event">
                <span class="main">{{venue.venue_name}}</span>
                <div class="button_ellipsis">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/location_grey.svg" />
                <span>{{venue.venue_address}}</span>
              </div>
            </div>
            <div class="sub_sec">
              <div class="location_event">
                <img src="/assets/images/telephone.svg" />
                <span>{{venue.phone_no}}</span>
              </div>
            </div>
          </div>

          <div class="the_last_add">
            <div class="text_last_div">
              Looks like you havn’t added many places
            </div>
            <a class="the_tag" (click)="showModal()">
              <img src="/assets/images/plus.svg">
              <span>Add a venue</span>
            </a>
          </div>

        </div>

      </div>

    </div>

    <app-venue-create-modal *ngIf="shown" [shown]="shown" (cardAdded)="cardAdded($event)" (hideModal)="hideModal($event)"></app-venue-create-modal>
  </div>
</div>
