<div class="center_state_div">
  <div class="container">

    <div class="bread_crumbs margin_top_crumbs">
      <ul class="clearfix">
        <li>Events</li>
        <li>Create an event</li>
      </ul>
    </div>

    <div class="edetailssection" *ngIf="currentEvent">
      <div class="row">
        <div class="col-sm-8">
          <div class="left_side">
            <div class="imgbanner_container">
              <img src="{{currentEvent.event_image|| '/assets/images/wolfpack.png'}}" class="img img-responsive" />
            </div>
            <div class="imgdesc_section">
              <h2>{{currentEvent.event_name}}</h2>
              <div class="details">
                <span class="datetime">
                  <img src="/assets/images/timeicon.svg" />
                  {{currentEvent.start_date | date: 'fullDate'}} • {{currentEvent.start_time}}
                </span>
                <span class="locationic">
                  <img src="/assets/images/locaicon.svg" />
                  {{this.venue && this.venue.venue_name}}
                </span>
              </div>
              <div class="desc">
                {{currentEvent.event_description}}
              </div>

              <app-ticket-booking *ngIf="book == 'true'"></app-ticket-booking>
              <app-ticket-sales *ngIf="book != 'true'" [eId]="eId"></app-ticket-sales>              

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="right_side">
            <div *ngIf="book != 'true'">
              <div class="div_control">
                <div class="the_title">
                  Event status
                </div>
                <div class="fields form_full">
                  <span class="down_arrow">
                    <select class="theme_select" [ngModel]="eventStatus" (change)="changeStatus($event)">
                      <option value="Published">Published</option>
                      <option value="Draft">Draft</option>
                      <option value="Completed">Completed</option>                    
                    </select>
                  </span>
                </div>
              </div>

              <div class="event_status_desc">
                Your event is live and visible on Stubba. Tickets can be purchased for this event
              </div>

              <a class="copysharelink">Copy share link</a>

              <div class="btn_container">
                <a  class="btn_right disabled">Attendee Check-in</a>
                <a  class="btn_right"><span>More options</span></a>
              </div>
            </div>
            <div *ngIf="book == 'true'">
              <div class="div_control">
                <div class="the_title the_bold">
                  Share Event
                </div>
                <div class="share_icons">
                  <div class="icon"><a href="#"><img src="images/facebook-logo.svg" class="img img-responsive" /></a></div>
                  <div class="icon"><a href="#"><img src="images/messenger.svg" class="img img-responsive" /></a></div>
                  <div class="icon"><a href="#"><img src="images/linkedin-logo.svg" class="img img-responsive" /></a></div>
                  <div class="icon"><a href="#"><img src="images/twitter-logo-silhouette.svg" class="img img-responsive" /></a></div>
                  <div class="icon"><img src="images/email.svg" class="img img-responsive" /></div>
                </div>
              </div>


              <a class="copysharelink">Copy share link</a>

              <div class="btn_container no_border_bottom">
                <div class="the_title the_bold">
                  Event holder
                </div>
                <a href="#" class="btn_right disabled bold_caps">More Events</a>
                <a href="#" class="btn_right bold_caps"><span>Contact</span></a>
              </div>
            </div>
            <div class="location_div">
              <div class="location_name">
                <img src="/assets/images/locaicon.svg" />
                {{this.venue && this.venue.venue_name}}
              </div>
              <div class="location_desc">
                {{this.venue && this.venue.venue_address}}
              </div>

              <div id="map_location" class="mapid" *ngIf="loc">
                   <agm-map [latitude]="loc.lat" [longitude]="loc.lng" >
                      <agm-marker [latitude]="loc.lat" [longitude]="loc.lng"></agm-marker>
                  </agm-map>
              </div>

              <a  class="change_venue">Change venue</a>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>

