<div class="center_state_div">
  <div class="container">

    <div class="bread_crumbs margin_top_crumbs">
      <ul class="clearfix">
        <li>Events</li>
        <li>Create an event</li>
      </ul>
    </div>

    <div class="edetailssection">
      <div class="row">
        <div class="col-sm-8">
          <div class="left_side">
            <div class="imgbanner_container">
              <img src="/assets/images/wolfpack.png" class="img img-responsive" />
            </div>
            <div class="imgdesc_section">
              <h2>Creator Story</h2>
              <div class="details">
                <span class="datetime">
                  <img src="/assets/images/timeicon.svg" />
                  Saturday 10 Jun 2017 • 09:30pm
                </span>
                <span class="locationic">
                  <img src="/assets/images/locaicon.svg" />
                  Mahiki
                </span>
              </div>
              <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>

              <div class="ticket_sales">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title">
                      Ticket Sales
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="btns_management">
                      <a href="#" class="edit">Edit tickets</a>
                      <a href="#" class="btn order_manage">Order management</a>
                    </div>
                  </div>
                </div>

                <div class="the_table">
                  <div class="top_section">
                    <div class="table_columns">
                      <div class="content">
                        <div class="heading">Tickets sold</div>
                        <div class="main">321<span>/500</span></div>
                      </div>
                    </div>
                    <div class="table_columns">
                      <div class="content">
                        <div class="heading">Revenue</div>
                        <div class="main">£12,545</div>
                      </div>
                    </div>
                    <div class="table_columns">
                      <div class="content">
                        <div class="heading">Days remaining till event</div>
                        <div class="main">4</div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom_section">
                    <div class="graph_head">Sales graph</div>
                  </div>
                </div>

                <div class="bottom_table">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Ticket Type</th>
                          <th>Amt. Sold</th>
                          <th>Price</th>
                          <th>Revenue</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Free</td>
                          <td>25</td>
                          <td>£0.00</td>
                          <td>£0.00</td>
                        </tr>
                        <tr>
                          <td>Early bird</td>
                          <td>170</td>
                          <td>£7.50</td>
                          <td>£7,500.00</td>
                        </tr>
                        <tr>
                          <td>Event Pass</td>
                          <td>126</td>
                          <td>£12.00</td>
                          <td>£5,045.00</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="right_side">

            <div class="div_control">
              <div class="the_title">
                Event status
              </div>
              <div class="fields form_full">
                <span class="down_arrow">
                  <select class="theme_select">
                    <option value="Published">Published</option>
                    <option value="Published">Published</option>
                    <option value="Published">Published</option>
                  </select>
                </span>
              </div>
            </div>

            <div class="event_status_desc">
              Your event is live and visible on Stubba. Tickets can be purchased for this event
            </div>

            <a class="copysharelink">Copy share link</a>

            <div class="btn_container">
              <a href="#" class="btn_right disabled">Attendee Check-in</a>
              <a href="#" class="btn_right"><span>More options</span></a>
            </div>

            <div class="location_div">
              <div class="location_name">
                <img src="/assets/images/locaicon.svg" />
                Mahiki
              </div>
              <div class="location_desc">
                21 Wellington St, London WC2E 7RQ, UK
              </div>

              <div id="map_location" class="mapid"></div>

              <a href="#" class="change_venue">Change venue</a>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>

